:root {
    --base-color: white;
    --base-color2: #c3c7d9;
    --base-variant: white;
    --base-variant2: #F5F5F7;
    --mid-base-color: #eaf0f2;
    --mid-base-color2: #b4c9d0;
    --text-color: #111528;
    --secondary-text: #272a39;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
  }
  
  .darkmode {
    --base-color: #2c2f35;
    --base-color2: #22242a;
    --base-variant: #2c313a;
    --base-variant2: #272c35;
    --mid-base-color: #41475c;
    --mid-base-color2: #33384a;
    --text-color: #fbfbfb;
    --secondary-text: #e5e5eb;
    --primary-color: #636c77;
    --accent-color: #5e81f4; 
  }
  
  /* General Reset and Global Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html  {

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    
  
  body {
    min-height: 100vh;
    
    background-color: var(--base-color);
    color: var(--text-color);

    overflow-x: hidden;
  }
  
  
  section {
    background: linear-gradient(180deg, var(--base-variant2), var(--base-variant));

    /*background-color: var(--base-variant);*/
    text-align: left;
    padding: 4.2rem min(2.6rem, 7%);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-left: 10%;
    padding-right: 10%;

    min-height: 50vh;

  }

  #about {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1rem;
  }


  #contact {
    text-decoration: none;
    text-align: center;
  }

  #contact h2 {
    
  }
  
  h1 {
    font-size: 4.5rem;
    padding: 1.5rem;
    text-align: center;
    white-space: nowrap;
  }

  h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  h3 {
    font-size: 1.75rem;
    text-align: center;
  }

  h4 {
    margin: 0.6rem 0 1.2rem 0;
    font-size: 1.2rem;
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    margin: 1.8rem 0 1.2rem 0;
    color: var(--secondary-text);
  }
  

  button {
    border: none;
    padding: min(0.8em);
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.cta-button {
    background-color: var(--accent-color);
  }
  
  /* Header Theme Switcher Button */
  #theme-switch {
    height: 2.6rem;
    width: 2.6rem;
    padding: 0;
    border-radius: 50%;
    background-color: var(--mid-base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 9999;
  }
  
  #theme-switch svg {
    fill: var(--secondary-text); /* Sun/Moon icon color */
  }
  
  #theme-switch svg:last-child {
    display: none;
  }
  
  .darkmode #theme-switch svg:first-child {
    display: none;
  }
  
  .darkmode #theme-switch svg:last-child {
    display: block;
  }


  
  /* Project Section */
  #projects {
    background: linear-gradient(0deg, var(--mid-base-color2), var(--mid-base-color));

    /*background-color: var(--mid-base-color);*/
    padding: 2.6rem 1.2rem;
    color: var(--text-color);
    text-align: center;
  }
  
  #projects h2 {
    margin-bottom: 2rem;
  }
  
  .project-tiles {
    
    display: flex;
    justify-content: center;
    gap: 2.2rem;
    flex-wrap: wrap;
    margin-top: 1.2rem;
  }
  
 .project-tile {
  color: white;
  background-size: cover;
  width: 30%;
  min-width: 20rem;
  min-height: 18rem;
  border-radius: 0.6rem;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;

  display: flex;
  max-height: 20rem;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  position: relative;

  z-index: 1;

  user-select: none;

}


  
  .project-tile:hover {
    transform: scale(1.03);
    /* *** Taken out for release *** cursor: pointer; */
  }


  .project-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);

    backdrop-filter: blur(0px); /* Blur */
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 1;
  }
  
  .project-tile:hover::before {
    background: rgba(0, 0, 0, 0.75); /* Darkens when hovered */
    backdrop-filter: blur(1px);
  }




  /*fine*/

  .project-tile h3, .project-tile h4 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    white-space: nowrap;
  }


.project-tile:hover h3 {
    top: 1.5rem;
    transform: translateX(-50%);
}

.project-tile h4 {
    transform: translate(-50%, 70%);
}

.project-tile:hover h4 {
    top: 3.2rem;
    transform: translateX(-50%);
}

  
  .project-tile p {
    color: #fbfbfb;
    font-size: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    text-align: left;
  }
  

  #ski-nav {
    background: url('../images/SkiNav.png') no-repeat center center;
    background-size: cover; /* Or use contain */
  }
  
  #stock-tracker {
    background: url('../images/StockTracker.jpeg') no-repeat center center;
    background-size: cover; /* Or use contain */

  }

  #iot-lights {
    background: url('../images/IoTLight.jpeg') no-repeat center center;
    background-size: cover; /* Or use contain */

  }




  /* Also controls the P tags */
  .tile-content {
    color: white;
    position: absolute;
    z-index: 1;
    top: 30%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

.project-tile:hover .tile-content {
  opacity: 1;
}



/* The expanded modal view */
.expanded-tile {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: var(--mid-base-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
  overflow-y: auto;

  transition: opacity 1.3s ease, transform 1.3s ease;
  display: none; /* Start hidden */
}

/* When visible */
#expanded-tile.show {
  
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


#expanded-view h3 {
  font-size: 2rem;
  padding: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  text-align: center;
}

#expanded-view p {
  font-size: 1.2rem;
  padding: 1.2rem;
  color: var(--secondary-text);
}


/* For clickable project box */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none; 
}






/*
  #ski-nav h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
  }
  
 
  #ski-nav:hover h3 {
    top: 1.2rem;
    transform: translateX(-50%);
  }

  #ski-nav h4 {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
  }


  #ski-nav:hover h4 {
    top: 3.4rem;
    transform: translateX(-50%);
  }

*/




/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
  gap: 1rem;
  padding: 5rem;

  text-align: center;

  justify-content: center;
  align-content: center;
  min-height: 0vh;

}

.skill {
  background: var(--text-color);
  color: var(--base-color);
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  opacity: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; 

  min-width: 7.125rem;
  min-height: 5.25rem;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column; /* Aligns the h1 and h2 vertically */
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  height: 100vh; /* Full viewport height */
  text-align: center; /* Centers text horizontally */
  font-size: 3rem;
}